<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="i_img/i/neury-dev.jpg" type="image/jpg" sizes="16x16">
    <link rel='stylesheet' href='/i_css/i/root.css' />
    <link rel='stylesheet' href='/i_css/i/index.css' />
</head>
<body>
<section class="n-grid">
<!--
    header.......................................................................
-->
<section class="area-1">  
    <header>
        <section>
            <h1><%= title %></h1>
            <p>Welcome to <%= title %></p>
        </section>
        <section>
            <ul class="nav">
                <li><a href="#">Home</a>
                    <div class="overlay">
                        <div class="text">Home</div>
                    </div>
                </li>
                <li><a href="#">Pictures</a>
                    <div class="overlay">
                        <div class="text">Pictures</div>
                    </div>
                </li>
                <li><a href="#" class="p">Hello World</a>
                    <div class="overlay">
                        <div class="text">Hello World</div>
                    </div>
                </li>
                <li>Italy</li>
            </ul>
        </section>
    </header>
</section>
<!--
    main.........................................................................
-->
<section class="area-2">
    <main>
       a
    </main>
</section>
<!--
    section.......................................................................
-->
<section class="area-3">a
    <section class="capas">
        <div class="capa capta-1"></div>
        <div class="capa capta-2"></div>
        <div class="capa capta-3"></div>
        <div class="capa capta-4"></div>
        <div class="capa capta-5"></div>
        <div class="capa capta-6"></div>
        <div class="capa capta-7"></div>
        <div class="capa capta-8"></div>
        <div class="capa capta-9"></div>
        <div class="capa capta-10"></div>
    </section>
</section>
<!--
    aside.......................................................................
-->
<section class="area-4">
    <aside>
        a
    </aside>
</section>
<!--
    footer.......................................................................
-->
<section class="area-5">
    <footer>
        a
    </footer>
</section>
</section>
</body>
</html>
