<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="i_img/i/neury-dev.jpg" type="image/jpg" sizes="16x16">
    
    <link rel='stylesheet' href='/i_css/i/root.css' />
    <link rel='stylesheet' href='/i_css/i/index.css' />
    <!-- Iconos: JavaScript-->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
<section class="n-grid">
<!------------------------------------------------------------------------------
header
------------------------------------------------------------------------------->
<section class="area-1">  
    <header>
        <section>
            <h1 class="titulo"><%= title %></h1>
        </section>
        <section>
            <ul>
                <li><a href="#habilidades" class="enlace">Habilidades</a>
                    <div class="cubrir">
                        <a href="#habilidades" class="con">Habilidades</a>
                    </div>
                </li>
                <li><a href="#desarrollos" class="enlace">Desarrollos</a>
                    <div class="cubrir">
                        <a href="#desarrollos" class="con">Desarrollos</a>
                    </div>
                </li>
                <li><a href="#contacto" class="enlace">Contacto</a>
                    <div class="cubrir">
                        <a href="#contacto" class="con">Contacto</a>
                    </div>
                </li>
            </ul>
        </section>
    </header>
</section>
<!------------------------------------------------------------------------------
main
------------------------------------------------------------------------------->
<section class="area-2">
    <main>
        <div class="skills">
            <h2 class="titulo">Skills</h2>
            <div></div>
            <p>Full Stack Developer</p>
        </div>
   
        <p class="titulo" onmouseover="Habilidades.mostrar('html')">HTML</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('css')">CSS</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('js')">JavaScript Full Stack</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('java')">Java Full Stack</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('php')">PHP</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('sql')">SQL</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('json')">JSON</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('nosql')">MongoDB</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('fetch')">Fetch y AJAX</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('aria')">ARIA</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('svg')">SVG</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('netbeans')">Apache NetBeans</p>
    </main>
    <section class="niveles">
        <svg width="500" height="350">
            <path d="M 0 350 l 100 -200 q 50 -100 100 0 q 50 100 100 0 l 100 -200" stroke="white" stroke-width="3" fill="none" />
            <!-- Mark relevant points -->
            <g stroke="black" stroke-width="3" fill="white">
                <circle id="pointA" cx="90" cy="300" r="6" class="nivel html" />
                <circle id="pointB" cx="400" cy="100" r="6" class="nivel css" />
                <circle id="pointC" cx="400" cy="300" r="6" class="nivel js"/>
                <circle id="pointA" cx="90" cy="300" r="6" class="nivel java" />
                <circle id="pointB" cx="400" cy="100" r="6" class="nivel php" />
                <circle id="pointC" cx="400" cy="300" r="6" class="nivel sql"/>
                <circle id="pointA" cx="90" cy="300" r="6" class="nivel json" />
                <circle id="pointB" cx="400" cy="100" r="6" class="nivel nosql" />
                <circle id="pointC" cx="400" cy="300" r="6" class="nivel fetch"/>
                <circle id="pointA" cx="90" cy="300" r="6" class="nivel aria" />
                <circle id="pointB" cx="400" cy="100" r="6" class="nivel svg" />
                <circle id="pointC" cx="400" cy="300" r="6" class="nivel netbeans"/>
            </g>
            <!-- Label the points -->
            <g font-size="10" font-family="sans-serif" fill="white" stroke="none" text-anchor="middle">
                <text x="100" y="300" dx="-30" class="nivel html">HTML</text>
                <text x="400" y="100" dy="-10" class="nivel css">CSS</text>
                <text x="400" y="300" dx="30" class="nivel js">JavaScript</text>
                <text x="100" y="300" dx="-30" class="nivel java">Java</text>
                <text x="400" y="100" dy="-10" class="nivel php">PHP</text>
                <text x="400" y="300" dx="30" class="nivel sql">SQL</text>
                <text x="100" y="300" dx="-30" class="nivel json">JSON</text>
                <text x="400" y="100" dy="-10" class="nivel nosql">MongoDB</text>
                <text x="400" y="300" dx="30" class="nivel fetch">Fetch y AJAX</text>
                <text x="100" y="300" dx="-30" class="nivel aria">ARIA</text>
                <text x="400" y="100" dy="-10" class="nivel svg">svg</text>
                <text x="400" y="300" dx="30" class="nivel netbeans">Apache NetBeans</text>
            </g>
            Sorry, your browser does not support inline SVG.
        </svg>
    </section>
</section>
<!------------------------------------------------------------------------------
section
------------------------------------------------------------------------------->
<section class="area-3">
    <section class="capas">
        <div class="capa capta-1"></div>
        <div class="capa capta-2"></div>
        <div class="capa capta-3"></div>
        <div class="capa capta-4"></div>
        <div class="capa capta-5"></div>
        <div class="capa capta-6"></div>
        <div class="capa capta-7"></div>
        <div class="capa capta-8"></div>
        <div class="capa capta-9"></div>
        <div class="capa capta-10"></div>
    </section>
</section>
<!------------------------------------------------------------------------------
aside
------------------------------------------------------------------------------->
<section class="area-4">
    <aside>
        
    </aside>
</section>
<!------------------------------------------------------------------------------
footer
------------------------------------------------------------------------------->
<section class="area-5">
    <footer>
        
    </footer>
</section>
</section>
<script src="l/i/index.js"></script>
</body>
</html>
