<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="i_img/i/neury-dev.jpg" type="image/jpg" sizes="16x16">
    <!-- CSS -->
    <link rel='stylesheet' href='/i_css/i/root.css' />
    <link rel='stylesheet' href='/i_css/i/index.css' />
    <!-- Iconos -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
<section class="n-grid">
<!------------------------------------------------------------------------------
header
------------------------------------------------------------------------------->
<section class="area-1">  
    <header>
        <section>
            <h1 class="titulo"><%= title %></h1>
        </section>
        <section>
            <ul>
                <li><a href="#habilidades" class="enlace">Habilidades</a>
                    <div class="cubrir">
                        <a href="#habilidades" class="con">Habilidades</a>
                    </div>
                </li>
                <li><a href="#desarrollos" class="enlace">Desarrollos</a>
                    <div class="cubrir">
                        <a href="#desarrollos" class="con">Desarrollos</a>
                    </div>
                </li>
                <li><a href="#contacto" class="enlace">Contacto</a>
                    <div class="cubrir">
                        <a href="#contacto" class="con">Contacto</a>
                    </div>
                </li>
            </ul>
        </section>
    </header>
</section>
<!------------------------------------------------------------------------------
main
------------------------------------------------------------------------------->
<section class="area-2">
    <main>
        <div class="skills">
            <h2 class="titulo">Skills</h2>
            <div></div>
            <p>Full Stack Developer</p>
        </div>
   
        <p class="titulo" onmouseover="Habilidades.mostrar('html')">HTML</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('css')">CSS</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('js')">JavaScript Full Stack</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('java')">Java Full Stack</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('php')">PHP</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('sql')">SQL</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('json')">JSON</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('nosql')">MongoDB</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('fetch')">Fetch y AJAX</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('aria')">ARIA</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('svg')">SVG</p>
        <p class="titulo" onmouseover="Habilidades.mostrar('netbeans')">Apache NetBeans</p>
    </main>
    <section class="niveles">
        <svg width="500" height="320">
            <path d="M 0 350 l 100 -200 q 50 -100 100 0 q 50 100 100 0 l 100 -200" stroke="white" stroke-width="3" fill="none" />
            <g stroke="black" stroke-width="3" fill="white">
                <circle id="pointA" cx="365" cy="18" r="6" class="nivel html" />
                <circle id="pointB" cx="363" cy="23" r="6" class="nivel css" />
                <circle id="pointC" cx="325" cy="101" r="6" class="nivel js"/>
                <circle id="pointA" cx="150" cy="101" r="6" class="nivel java" />
                <circle id="pointB" cx="322" cy="106" r="6" class="nivel php" />
                <circle id="pointC" cx="340" cy="70" r="6" class="nivel sql"/>
                <circle id="pointA" cx="338" cy="75" r="6" class="nivel json" />
                <circle id="pointB" cx="335" cy="80" r="6" class="nivel nosql" />
                <circle id="pointC" cx="350" cy="49" r="6" class="nivel fetch"/>
                <circle id="pointA" cx="360" cy="29" r="6" class="nivel aria" />
                <circle id="pointB" cx="278" cy="186" r="6" class="nivel svg" />
                <circle id="pointC" cx="128" cy="110" r="6" class="nivel netbeans"/>
            </g>
            <g>
                <g class="nivel html">
                    <g fill="white" stroke="none" >
                        <ellipse ry="7" rx="5" cx="340" cy="15" />
                        <ellipse ry="7" rx="5" cx="350" cy="15"/>
                    </g>
                    <g fill="#1c1d22" stroke="#373538" stroke-width="0.5" class="mirar">
                        <ellipse ry="3" rx="2.5" cx="340" cy="18"/>
                        <ellipse ry="3" rx="2.5" cx="350" cy="18"/>
                    </g>
                </g>
                <g class="nivel css">
                    <g fill="white" stroke="none" >
                        <ellipse ry="7" rx="5" cx="337" cy="18" />
                        <ellipse ry="7" rx="5" cx="347" cy="18"/>
                    </g>
                    <g fill="#1c1d22" stroke="#373538" stroke-width="0.5" class="mirar">
                        <ellipse ry="3" rx="2.5" cx="337" cy="21"/>
                        <ellipse ry="3" rx="2.5" cx="347" cy="21"/>
                    </g>
                </g>
                <g class="nivel js">
                    <g fill="white" stroke="none" >
                        <ellipse ry="7" rx="5" cx="302" cy="92" />
                        <ellipse ry="7" rx="5" cx="312" cy="92"/>
                    </g>
                    <g fill="#1c1d22" stroke="#373538" stroke-width="0.5" class="mirar">
                        <ellipse ry="3" rx="2.5" cx="302" cy="95"/>
                        <ellipse ry="3" rx="2.5" cx="312" cy="95"/>
                    </g>
                </g>
                <g class="nivel java">
                    <g fill="white" stroke="none" >
                        <ellipse ry="7" rx="5" cx="127" cy="90" />
                        <ellipse ry="7" rx="5" cx="137" cy="90"/>
                    </g>
                    <g fill="#1c1d22" stroke="#373538" stroke-width="0.5" class="mirar">
                        <ellipse ry="3" rx="2.5" cx="127" cy="93"/>
                        <ellipse ry="3" rx="2.5" cx="137" cy="93"/>
                    </g>
                </g>
                <g class="nivel php">
                    <g fill="white" stroke="none" >
                        <ellipse ry="7" rx="5" cx="299" cy="97" />
                        <ellipse ry="7" rx="5" cx="309" cy="97"/>
                    </g>
                    <g fill="#1c1d22" stroke="#373538" stroke-width="0.5" class="mirar">
                        <ellipse ry="3" rx="2.5" cx="299" cy="100"/>
                        <ellipse ry="3" rx="2.5" cx="309" cy="100"/>
                    </g>
                </g>
                <g class="nivel sql">
                    <g fill="white" stroke="none" >
                        <ellipse ry="7" rx="5" cx="315" cy="65" />
                        <ellipse ry="7" rx="5" cx="325" cy="65" />
                    </g>
                    <g fill="#1c1d22" stroke="#373538" stroke-width="0.5" class="mirar">
                        <ellipse ry="3" rx="2.5" cx="315" cy="68"/>
                        <ellipse ry="3" rx="2.5" cx="325" cy="68"/>
                    </g>
                </g>
                <g class="nivel json">
                    <g fill="white" stroke="none" >
                        <ellipse ry="7" rx="5" cx="312" cy="70" />
                        <ellipse ry="7" rx="5" cx="322" cy="70" />
                    </g>
                    <g fill="#1c1d22" stroke="#373538" stroke-width="0.5" class="mirar">
                        <ellipse ry="3" rx="2.5" cx="312" cy="73"/>
                        <ellipse ry="3" rx="2.5" cx="322" cy="73"/>
                    </g>
                </g>
                <g class="nivel nosql">
                    <g fill="white" stroke="none" >
                        <ellipse ry="7" rx="5" cx="309" cy="75" />
                        <ellipse ry="7" rx="5" cx="319" cy="75" />
                    </g>
                    <g fill="#1c1d22" stroke="#373538" stroke-width="0.5" class="mirar">
                        <ellipse ry="3" rx="2.5" cx="309" cy="78"/>
                        <ellipse ry="3" rx="2.5" cx="319" cy="78"/>
                    </g>
                </g>
                <g class="nivel fetch">
                    <g fill="white" stroke="none" >
                        <ellipse ry="7" rx="5" cx="324" cy="44" />
                        <ellipse ry="7" rx="5" cx="334" cy="44"/>
                    </g>
                    <g fill="#1c1d22" stroke="#373538" stroke-width="0.5" class="mirar">
                        <ellipse ry="3" rx="2.5" cx="324" cy="47"/>
                        <ellipse ry="3" rx="2.5" cx="334" cy="47"/>
                    </g>
                </g>
                <g class="nivel aria">
                    <g fill="white" stroke="none" >
                        <ellipse ry="7" rx="5" cx="334" cy="24" />
                        <ellipse ry="7" rx="5" cx="344" cy="24"/>
                    </g>
                    <g fill="#1c1d22" stroke="#373538" stroke-width="0.5" class="mirar">
                        <ellipse ry="3" rx="2.5" cx="334" cy="27"/>
                        <ellipse ry="3" rx="2.5" cx="344" cy="27"/>
                    </g>
                </g>
                <g class="nivel svg">
                    <g fill="white" stroke="none" >
                        <ellipse ry="7" rx="5" cx="254" cy="179" />
                        <ellipse ry="7" rx="5" cx="264" cy="179"/>
                    </g>
                    <g fill="#1c1d22" stroke="#373538" stroke-width="0.5" class="mirar">
                        <ellipse ry="3" rx="2.5" cx="254" cy="182"/>
                        <ellipse ry="3" rx="2.5" cx="264" cy="182"/>
                    </g>
                </g>
                <g class="nivel netbeans">
                    <g fill="white" stroke="none" >
                        <ellipse ry="7" rx="5" cx="107" cy="100" />
                        <ellipse ry="7" rx="5" cx="117" cy="100"/>
                    </g>
                    <g fill="#1c1d22" stroke="#373538" stroke-width="0.5" class="mirar">
                        <ellipse ry="3" rx="2.5" cx="107" cy="103"/>
                        <ellipse ry="3" rx="2.5" cx="117" cy="103"/>
                    </g>
                </g>
            </g>

            <!-- Label the points -->
            <!--g id="texto" font-size="8" font-family="sans-serif" text-anchor="middle">
                <text x="350" y="20" dx="0" dy="-10" class="nivel html">HTML</text>
                <text x="400" y="100" dy="-10" class="nivel css">CSS</text>
                <text x="400" y="300" dx="30" class="nivel js">JavaScript</text>
                <text x="100" y="300" dx="-30" class="nivel java">Java</text>
                <text x="400" y="100" dy="-10" class="nivel php">PHP</text>
                <text x="400" y="300" dx="30" class="nivel sql">SQL</text>
                <text x="100" y="300" dx="-30" class="nivel json">JSON</text>
                <text x="400" y="100" dy="-10" class="nivel nosql">MongoDB</text>
                <text x="400" y="300" dx="30" class="nivel fetch">Fetch y AJAX</text>
                <text x="100" y="300" dx="-30" class="nivel aria">ARIA</text>
                <text x="400" y="100" dy="-10" class="nivel svg">svg</text>
                <text x="400" y="300" dx="30" class="nivel netbeans">Apache NetBeans</text>
            </g-->
        </svg>
    </section>
</section>
<!------------------------------------------------------------------------------
section
------------------------------------------------------------------------------->
<section class="area-3">
    <section>
        <article>
            <h4>Demo</h4>
            <p>00/00/0000 - 00/00/0000</p>
            <a href="">Demo</a>
        </article>
        <article>
            <h4>AllInOne</h4>
            <p>04/07/2020 - 22/04/2021</p>
            <a href="https://github.com/Neury-dev/AllInOne.git" target="_blank">
                github.com/Neury-dev/AllInOne
            </a>
        </article>
        <article>
            <h4>IteradorMatematico</h4>
            <p>07/10/2019 - 12/01/2020</p>
            <a href="https://github.com/Neury-dev/IteradorMatematico.git" target="_blank">
                github.com/Neury-dev/IteradorMatematico
            </a>
        </article>
    </section>
</section>
<!------------------------------------------------------------------------------
aside
------------------------------------------------------------------------------->
<section class="area-4">
    <aside>
        <p style="text-align: center; font-size: 4em;">Curriculum</p>
    </aside>
</section>
<!------------------------------------------------------------------------------
footer
------------------------------------------------------------------------------->
<section class="area-5">
    <footer>
        
    </footer>
</section>
</section>
<script src="l/i/index.js"></script>
</body>
</html>
